<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Blank Page - Ace Admin</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <th:block th:insert="~{fragments/lib-header::head/link}"></th:block>
    <th:block th:insert="~{fragments/lib-header::head/script}"></th:block>

    <style type="text/css">
        .td-input{

            background: #438eb9;
        }
        .td-input input{
            width: 100%;

            background: #438eb9;


        }
        </style>
</head>

<body class="no-skin">

<!--INCLUDE-HEADER-->
<div th:replace="fragments/header"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <!-- INCLUDE-MENU -->
    <div th:replace="fragments/menu"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">Other Pages</a>
                    </li>
                    <li class="active">Blank Page</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"/>
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"/>
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"/>
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Tables
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Static &amp; Dynamic Tables
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover" id="simple-table">
                            <thead>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>Tên</th>
                            <th>code</th>
                            <th>Chú Thích</th>
                            <th>Địa Chỉ</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <th:block th:each="producer : ${producers}">
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td th:text="${producer.name}">Tên</td>

                                    <td th:text="${producer.code}">code</td>

                                    <td th:text="${producer.notes}">notes</td>

                                    <td th:text="${producer.address}">dia chi</td>






                                    <td>
                                        <div class='hidden-sm hidden-xs btn-group'>

                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </button>

                                            <a th:href="'/admin/producer/' + ${producer.id}" class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </a>

                                        </div>
                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel open">
                                                <button class="btn btn-minier btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" data-position="auto" aria-expanded="true">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title=""
                                                           data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip" title=""
                                                           data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </th:block>
                            <!--<tr>-->
                                <!--<td class="center">-->
                                    <!--<label class="pos-rel">-->
                                        <!--<input type="checkbox" class="ace">-->
                                        <!--<span class="lbl"></span>-->
                                    <!--</label>-->
                                <!--</td>-->
                                <!--<td>Tên</td>-->
                                <!--<td>core</td>-->
                                <!--<td>threads</td>-->
                                <!--<td>cache</td>-->
                                <!--<td>base clock</td>-->
                                <!--<td>cache</td>-->
                                <!--<td>socket</td>-->
                                <!--<td>-->
                                    <!--<div class="hidden-sm hidden-xs btn-group">-->


                                        <!--<button class="btn btn-xs btn-info">-->
                                            <!--<i class="ace-icon fa fa-pencil bigger-120"></i>-->
                                        <!--</button>-->

                                        <!--<button class="btn btn-xs btn-danger">-->
                                            <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                                        <!--</button>-->


                                    <!--</div>-->
                                    <!--<div class="hidden-md hidden-lg">-->
                                        <!--<div class="inline pos-rel open">-->
                                            <!--<button class="btn btn-minier btn-primary dropdown-toggle"-->
                                                    <!--data-toggle="dropdown" data-position="auto" aria-expanded="true">-->
                                                <!--<i class="ace-icon fa fa-cog icon-only bigger-110"></i>-->
                                            <!--</button>-->

                                            <!--<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">-->
                                                <!--<li>-->
                                                    <!--<a href="#" class="tooltip-success" data-rel="tooltip" title=""-->
                                                       <!--data-original-title="Edit">-->
																			<!--<span class="green">-->
																				<!--<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>-->
																			<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->

                                                <!--<li>-->
                                                    <!--<a href="#" class="tooltip-error" data-rel="tooltip" title=""-->
                                                       <!--data-original-title="Delete">-->
																			<!--<span class="red">-->
																				<!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
																			<!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</td>-->


                            <!--</tr>-->


                            </tbody>
                            <tbody>
                            <form method="POST" action="/admin/producer">
                                <tr>
                                    <td class="center td-input">

                                    </td>
                                    <td class="td-input"><input type="text" name="name" placeholder="Tên"></td>
                                    <td class="td-input"><input type="text" name="code" placeholder="code"></td>
                                    <td class="td-input"><input type="text" name="notes" placeholder="chú thích"></td>
                                    <td class="td-input"><input type="text" name="address" placeholder="địa chỉ"></td>

                                    <td>
                                        <div class="btn-group td-input">

                                            <button class="btn btn-xs btn-success">
                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                            </button>
                                        </div>

                                    </td>


                                </tr>


                            </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- END ROW LIST-->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--INCLUDE-FOOTER -->
    <div th:replace="fragments/footer"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
</body>
</html>
